* {
    font-family: "Montserrat", sans-serif;
  }
  
  :root {
    --ff-aqua: #00C0FA;
    --ff-blue: #4261ED;
    --ff-purple: #6717CC;
    --ff-lightaqua: #99e6fd;
    --ff-lightblue: #b3c0f8;
    --ff-lightpurple: #c2a2eb;
    --ff-lightpurplebg: rgb(194, 162, 235);
    --ff-text: #fff;
    --ff-background: #111;
    --ff-module-background: #222;
    --ff-link: rgba(255, 255, 255, 0.55);
    --ff-footer-text: rgba(255, 255, 255, 0.55);
    --ff-link-hover: rgba(255, 255, 255, 0.75);
    --ff-link-hover-background: rgba(255, 255, 255, 0.15);
  }
  
  body {
    background-color: var(--ff-background);;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--ff-text);
  }
  
  /*================header css================*/

  nav {
    /*grey background with gradient bottom border*/
    background-color: var(--ff-module-background);
    border-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
    border-bottom: 2px solid;
    border-image-slice: 1;
    justify-content: space-between;

    font-size: 0.75rem;
  }

  nav ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
  }

  nav .spacer{
    flex: 1;
  }
  
  
  nav a {
    color: var(--ff-link);
    text-decoration: none;
    transition: color .15s ease-in-out;
    font-weight: 600;
    padding: 10px 10px 10px 10px;
  }
  
  nav a.active {
    color: var(--ff-text);
  }
  
  nav a.active:hover {
    color: var(--ff-text);
  }
  
  nav a:hover {
    color: var(--ff-link-hover);
  }
  
  nav a:hover:disabled {
    color: var(--ff-link);
  }

  
  /*=================content css================*/
  
  section {
    padding: 60px 0 60px 0;
    background-color: var(--ff-background);
    text-align: left;
    max-width: 55.938vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .small section {
    max-width: 716px;
  }
  
  h1 {
    font-size: calc(150% + 3vw);
    background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-weight: 700;
  }
  
  h2 {
    font-size: calc(100% + 2vw);
    background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    margin-block-end: calc(0.83em - 0.5vh);
  }
  
  h3 {
    font-size: calc(75% + 1.50vw);
    background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-top: 0px;
    font-weight: normal;
    margin-block-end: calc(0.83em - 0.5vh);
  }
  
  body.small h2, body.small h3 {
      font-weight: bold;
  }
  
  ::selection {
    background-color: var(--ff-lightpurplebg);
    background-clip: border-box;
    -webkit-text-fill-color: initial;
  }
  
  .btn {
    border: 2px solid;
    border-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%) 1;
    border-radius: .3rem;
    padding: 0.5vh 1vw;
    font-size: calc(1.06vw + 100%);
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 50%, var(--ff-purple) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: padding .15s ease-in-out, margin .15s ease-in-out;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    outline: none;
    color: var(--ff-aqua);
  }
  
  a.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ::placeholder {
    -webkit-text-fill-color: initial;
    color: rgba(0,0,0,0.25);
  }
  
  @-moz-document url-prefix() {
    ::placeholder {
      -webkit-text-fill-color: transparent;
    }
  }

  
  .paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
  }

  a.btn:hover {
    padding: 1vh 2.5vw;
    margin: 0;
  }
  
  a.btn.animate:hover {
    background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 20%, var(--ff-purple) 40%, var(--ff-aqua) 60%, var(--ff-blue) 80%, var(--ff-purple) 100%);
    background-size: 260% 100%;
    animation: AnimateBG 2s linear infinite;
  }
  
  .btn#url {
    vertical-align: middle;
    font-size: calc(0.5vw + 100%);
  }
  
  select.btn {
    font-size: calc(75% + 1vw);
    cursor: pointer;
  }
  
  .center {
    text-align: center;
  }
  
  code {
    background-color: var(--ff-module-background); 
    color: var(--ff-aqua);
  }
  
  .formPage {
    padding: 10%;
    padding-bottom: 5%;
    margin: 0 3px 0 3px;
    border-radius: .3rem;
    background-color: var(--ff-background);
    min-height: 300px;
  }
  
  .formPage .bottom {
    margin-top: 23vh;
  }
  
  .formPage span {
    font-size: calc(75% + 1vw);
  }
  
  #form {
    transition: all ease-in-out 0.5s;
  }
  

  @media (max-width: 650px) {
    code {
      word-break: break-all;
    }
  }
  
  .leaving {
    animation-name: fadeOut;
    animation-duration: 0.375s;
    animation-timing-function: ease-out;
  }
  
  .arriving {
    animation-name: fadeIn;
    animation-duration: 0.375s;
    animation-timing-function: ease-out;
  }
  
  .hidden {
    display: none;
  }
  
  @keyframes fadeOut {
    0% {
      filter: opacity(1);
      margin-left: 0;
    }
    50% {
      filter: opacity(0);
    }
    100% {
      margin-left: -105%;
    }
  }
  
  @keyframes fadeIn {
    from {
      filter: opacity(0);
      margin-left: 105%;
    }
    to {
      filter: opacity(1);
      margin-left: 0;
    }
  }
  
  
  .link {
    text-decoration: none;
    background-image: linear-gradient(135deg, var(--ff-aqua) 0%, var(--ff-blue) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-color: var(--ff-aqua);
  }
  
  .link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--ff-aqua);
  }
  
  iframe {
    border: none;
    overflow: hidden;
    width: 100%;
    height: 750px;
  }
  
  /*=================slide css==================*/
  .slide {
    display: none;
  }
  
  .slides {
    position: relative;
    display:flex;
    align-items:center;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px 8px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.1);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
  }
  
  .slide img {
      width: 100%;
  }
  
  body:not(.small) .desc {
      display: flex;
      justify-content: center;
  }
  
  body:not(.small) .slide img {
      width: 40vw;
  }
  
  body:not(.small) .description {
      margin-left: 30px;
      width: 300px;
  }
  
  body.small ul {
      padding-left: 0px;
  }
  
  body.small .slides {
      width: 90%;
      margin-left: 5%;
  }
  
  .description {
      flex-shrink: 0;
      text-align: left;
  }
  
  body.small .description {
      padding:0 0 0 15px;
  }
  