
.notif { 
  position: sticky;
  margin-bottom: -30px;

  z-index: 99;
  display: inline-block;
  background-color: #b4a691; 
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.75rem;
}
    